@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
}


.main-section {
  position: relative;
  /* Make this element a positioning context */
  height: 550px;
  background-attachment: fixed;
  background-image: url("../images/15.jpg");
  color: white;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: lighter;

}

h2 {
  color: #fff;
  font-size: 35px;
}

p {
  font-size: 16px;
  line-height: 1.8;
  font-weight: lighter;
}

.btn-success {
  background-color: #00c3ff;
  border: none;
}

.btn-success:hover {
  background-color: #009688;
}

.img-fluid {
  max-width: 75%;
}

@media (max-width: 767px) {
  .img-fluid {
    max-width: 60%;
  }
}